# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$1.class
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$2.class
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$3.class
project/target/config-classes/$7cde6036752467a38073$.class
project/target/config-classes/$7cde6036752467a38073.cache
project/target/config-classes/$7cde6036752467a38073.class
project/target/scala-2.10/
project/target/scala-2.12/
project/target/streams/compile/incCompileSetup/
target/.history
target/resolution-cache/default/hello-world-sbt$sources_2.12/
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-compile-internal.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-compile.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-docs.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-optional.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-plugin.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-pom.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-provided.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-runtime-internal.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-runtime.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-scala-tool.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-sources.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-test-internal.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-test.xml
target/scala-2.10/test-classes/
target/streams/$global/$global/dumpStructure/
target/streams/$global/updateClassifiers/
project/project/target/config-classes/$29f504f290d26706df18$.class
project/project/target/config-classes/$29f504f290d26706df18.cache
project/project/target/config-classes/$29f504f290d26706df18.class
project/project/target/config-classes/$34f62ba0cc8a1fa84d8f$$anonfun$$sbtdef$1.class
project/project/target/config-classes/$34f62ba0cc8a1fa84d8f$.class
project/project/target/config-classes/$34f62ba0cc8a1fa84d8f.cache
project/project/target/config-classes/$34f62ba0cc8a1fa84d8f.class
project/project/target/config-classes/$cfccb8643d762cec89f7$.class
project/project/target/config-classes/$cfccb8643d762cec89f7.cache
project/project/target/config-classes/$cfccb8643d762cec89f7.class
project/target/config-classes/$2ca0bf52330a8e6b1ee5$.class
project/target/config-classes/$2ca0bf52330a8e6b1ee5.cache
project/target/config-classes/$2ca0bf52330a8e6b1ee5.class
project/target/config-classes/$39b0f6722455be515fdf$$anonfun$$sbtdef$1.class
project/target/config-classes/$39b0f6722455be515fdf$.class
project/target/config-classes/$39b0f6722455be515fdf.cache
project/target/config-classes/$39b0f6722455be515fdf.class
project/target/config-classes/$3ff0cff56b59d87a4341$$anonfun$$sbtdef$1.class
project/target/config-classes/$3ff0cff56b59d87a4341$.class
project/target/config-classes/$3ff0cff56b59d87a4341.cache
project/target/config-classes/$3ff0cff56b59d87a4341.class
project/target/config-classes/$4f2f10a25cfc905854e0$$anonfun$$sbtdef$1.class
project/target/config-classes/$4f2f10a25cfc905854e0$.class
project/target/config-classes/$4f2f10a25cfc905854e0.cache
project/target/config-classes/$4f2f10a25cfc905854e0.class
project/target/config-classes/$797d7ae89ecba4892d41$.class
project/target/config-classes/$797d7ae89ecba4892d41.cache
project/target/config-classes/$797d7ae89ecba4892d41.class
project/target/config-classes/$b3c1f3c1f68f7fa56128$$anonfun$$sbtdef$1.class
project/target/config-classes/$b3c1f3c1f68f7fa56128$.class
project/target/config-classes/$b3c1f3c1f68f7fa56128.cache
project/target/config-classes/$b3c1f3c1f68f7fa56128.class
project/target/config-classes/$b7d0b8d5045ef885c3d9$$anonfun$$sbtdef$1.class
project/target/config-classes/$b7d0b8d5045ef885c3d9$.class
project/target/config-classes/$b7d0b8d5045ef885c3d9.cache
project/target/config-classes/$b7d0b8d5045ef885c3d9.class
project/target/config-classes/$c6b3be128f89054db59c$$anonfun$$sbtdef$1.class
project/target/config-classes/$c6b3be128f89054db59c$.class
project/target/config-classes/$c6b3be128f89054db59c.cache
project/target/config-classes/$c6b3be128f89054db59c.class
project/target/config-classes/$f1c94730237097625c54$$anonfun$$sbtdef$1.class
project/target/config-classes/$f1c94730237097625c54$.class
project/target/config-classes/$f1c94730237097625c54.cache
project/target/config-classes/$f1c94730237097625c54.class
target/streams/$global/clean/
