# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$1.class
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$2.class
project/target/config-classes/$7cde6036752467a38073$$anonfun$$sbtdef$3.class
project/target/config-classes/$7cde6036752467a38073$.class
project/target/config-classes/$7cde6036752467a38073.cache
project/target/config-classes/$7cde6036752467a38073.class
project/target/scala-2.10/
project/target/scala-2.12/
project/target/streams/compile/incCompileSetup/
target/.history
target/resolution-cache/default/hello-world-sbt$sources_2.12/
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-compile-internal.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-compile.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-docs.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-optional.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-plugin.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-pom.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-provided.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-runtime-internal.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-runtime.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-scala-tool.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-sources.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-test-internal.xml
target/resolution-cache/reports/default-hello-world-sbt$sources_2.12-test.xml
target/scala-2.10/test-classes/
target/streams/$global/$global/dumpStructure/
target/streams/$global/updateClassifiers/
